name: Dependency Review

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  dependency-review:
    uses: orhayoun-eevee/build-workflow/.github/workflows/dependency-review.yaml@v0.1.5
