name: Publish Chart

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: read
  packages: write

jobs:
  publish-chart:
    uses: orhayoun-eevee/build-workflow/.github/workflows/release-chart.yaml@dff4ed0ab6bdf00b0912cebd23c4bff7f2d0904a
    with:
      chart_path: .
    secrets: inherit  # Required for cross-repo workflows
 