name: Publish Chart

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: read
  packages: write

jobs:
  publish-chart:
    uses: orhayoun-eevee/build-workflow/.github/workflows/release-chart.yaml@a3c215681f3fa7359255efca3815af8a9bf0ccda
    with:
      chart_path: .
    secrets: inherit  # Required for cross-repo workflows
