name: Publish Chart

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: read
  packages: write

concurrency:
  group: on-tag-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish-chart:
    uses: orhayoun-eevee/build-workflow/.github/workflows/release-chart.yaml@v0.1.8
    with:
      chart_path: .
      release_environment: production
      enable_signing: true
