name: Publish Chart

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: read
  packages: write

jobs:
  publish-chart:
    uses: orhayoun-eevee/build-workflow/.github/workflows/release-chart.yaml@c429db69c4eace55a03d89f8ff992e2969c1d042
    with:
      chart_path: .
    secrets: inherit  # Required for cross-repo workflows
