name: Publish Chart

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: read
  packages: write

jobs:
  publish-chart:
    uses: orhayoun-eevee/build-workflow/.github/workflows/release-chart.yaml@bf26f6189979fff20a41b775faf9a23f1058e27c
    with:
      chart_path: .
    secrets: inherit  # Required for cross-repo workflows
 