name: PR Required Checks

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  packages: read

jobs:
  required-checks:
    uses: orhayoun-eevee/build-workflow/.github/workflows/pr-required-checks-chart.yaml@v0.1.5
    with:
      repo_name: transmission-helm
      chart_kind: app
      enable_codeql: true
      enable_scaffold_drift: true
    secrets:
      gh_app_id: ${{ secrets.GHCR_AUTO_APP_ID }}
      gh_app_private_key: ${{ secrets.GHCR_AUTO_PKEY }}
