name: PR Required Checks

on:
  pull_request:
    branches:
      - main
  merge_group:
    types:
      - checks_requested

permissions:
  contents: read

concurrency:
  group: pr-required-checks-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci-required:
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository
    permissions:
      actions: read
      contents: read
      packages: read
      security-events: write
    uses: orhayoun-eevee/build-workflow/.github/workflows/pr-required-checks-chart.yaml@v0.1.11
    with:
      repo_name: transmission-helm
      chart_kind: app
      enable_codeql: true
    secrets:
      gh_app_id: ${{ secrets.GHCR_AUTO_APP_ID }}
      gh_app_private_key: ${{ secrets.GHCR_AUTO_PKEY }}
