name: Scaffold Drift Check (Manual)

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  drift-check:
    uses: orhayoun-eevee/build-workflow/.github/workflows/scaffold-drift-check.yaml@v0.1.6
    with:
      repo_name: transmission-helm
    secrets:
      gh_app_id: ${{ secrets.GHCR_AUTO_APP_ID }}
      gh_app_private_key: ${{ secrets.GHCR_AUTO_PKEY }}
